.aboutme-title {
  color: var(--darck-blue, #2077e2);
  font-family: "Pixelify Sans";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  margin-top: 30px;
}
.aboutme-text {
  color: var(--darck-blue, #2077e2);
  font-family: K2D;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 68px;
  margin-bottom: 26px;
}
.aboutme-star {
  overflow: hidden;
}
.aboutme-stars {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 100px;
  top: 20px;
}
.aboutme-big-star {
  display: flex;
  padding-left: 50px;
  align-items: center;
  margin-top: -30px;
}

@keyframes changeSize {
  // <== a regarder pour un rotate en meme temps que scale
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.big-star.zoom {
  animation-name: changeSize;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
.big-star.is-active {
  transform: rotate(360deg);
  transition: transform 2.4s ease-in-out;
}

.smal-star.is-active {
  transform: rotate(360deg);
  transition: transform 2.4s ease-in-out;
}
.smal-star.zoom {
  animation-name: changeSize;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
.aboutme-smal-title {
  color: var(--darck-blue, #2077e2);
  font-family: Orbitron;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 19px;
}
.aboutme-contact {
  display: flex;
  height: 78px;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  height: 108px;
}
.discord {
  transition-duration: 0.5s;
}
.discord:hover {
  margin-bottom: 30px;
}
.insta {
  transition-duration: 0.5s;
}
.insta:hover {
  margin-bottom: 30px;
}
.mail {
  transition-duration: 0.5s;
}
.mail:hover {
  margin-bottom: 30px;
}
.linktree {
  transition-duration: 0.5s;
}
.linktree:hover {
  margin-bottom: 30px;
}
.aboutme-logiciel {
  display: flex;
  align-items: center;
  gap: 18px;
  height: 106px;
}
.figma {
  transition-duration: 0.5s;
}
.figma:hover {
  margin-bottom: 30px;
}
.VScode {
  transition-duration: 0.5s;
}
.VScode:hover {
  margin-bottom: 30px;
}
.Ai {
  transition-duration: 0.5s;
}
.Ai:hover {
  margin-bottom: 30px;
}
.AE {
  transition-duration: 0.5s;
}
.AE:hover {
  margin-bottom: 30px;
}
.PS {
  transition-duration: 0.5s;
}
.PS:hover {
  margin-bottom: 30px;
}
