* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
// https://nabla.typearture.com/ <-- lien de la fonte

// @font-palette-values --custom {
//   override-colors: 0 rgb(76, 69, 42), 1 rgb(77, 56, 51), 2 rgb(46, 42, 35),
//     3 rgb(101, 84, 67), 4 rgb(101, 97, 78), 5 rgb(51, 50, 46), 6 rgb(5, 5, 5),
//     7 rgb(88, 86, 75), 8 rgb(83, 82, 75), 9 rgb(43, 39, 39);
// }

// .first-big-title {
//   font-family: Nabla;
//   font-palette: --custom;
// }

:root {
  --light-blue: #73acf3;
  --darck-blue: #2077e2;
  --white: #fffefd;
}
