:root {
  --light-blue: #73acf3;
  --darck-blue: #2077e2;
  --white: #fffefd;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@font-palette-values --Nabla-blue {
  font-family: Nabla;
  // couleurs personnalisées
  override-colors: 0 #2077e2, 1 #2077e2, 2 #2077e2, 3 #2077e2, 4 #2077e2,
    5 #2077e2, 6 #2077e2, 7 #2077e2, 8 #2077e2, 9 #2077e2;
}
@font-palette-values --Nabla-white {
  font-family: Nabla;
  // couleurs personnalisées
  override-colors: 0 #fffefd, 1 #fffefd, 2 #fffefd, 3 #fffefd, 4 #fffefd,
    5 #fffefd, 6 #fffefd, 7 #fffefd, 8 #fffefd, 9 #fffefd;
}
